@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
*{
	text-align: center;
	margin: 0;
	padding: 0;
}
body
{
	font-family:"Raleway", sans-serif;
}
ul > li{
	list-style-type: none;
}
.links{
	display: block;
	position: absolute;
	top: 5%;
	right: 5%;
}
.links > li{
	display: inline-block;
	margin: 0 10px;
}
.links > li > a{
	transition: 0.25 ease;
	text-decoration: none;
	font-family: "Raleway","Lato", sans-serif;
	color: white;
}
.links > li > a:hover{
	color: #00dddd;
}
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}
.active, .accordion:hover {
	background-color: #ccc;
}
.panel {
	padding: 0 18px;
	display: none;
	background-color: white;
	overflow: hidden;
}
.panel p {
	padding: 10px;
}
.cards {
	margin: 1.75%;
	transition: 0.5s ease;
	padding: 1.75%;
	height: 50%;
	width: 200px;
	color: black;
	background-color: #fafad2;
	box-shadow: 0 4px 8px 0 rgba(0,0,255,0.5);
	border-radius: 10%;
}
a{
	text-decoration: none;
	color:black;
}
.cards > img{
	width: 97.5%;
	border-radius: 40%;
	filter: grayscale(1);
	transition: filter 0.3s, box-shadow 0.3s;
  	-webkit-transition: filter 0.3s, -webkit-filter 0.3s, box-shadow 0.3s;
}
.cards > img:hover{
	-webkit-filter: grayscale(0);
	filter:  grayscale(0);
	box-shadow: #224 0.2em 0.2em 0.6em 0.1em;
}
.flex-container > .cards:hover{
	transition: 0.5s ease;
	transform: scale(1.1);
}
.cards > p,h2 {
	color:black;
	margin: 0;
	padding: 0;
}
#position{
	padding: 1% 10%;
	font-size: 1.6rem;
}
#position > h2{
	color: white;
}
.contain {
	padding: 0;
}
.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 5%;
}
.flex-container > .card{
	transform: scale(1);
}
.contain{
	font-family: "Covered BY Your Grace","Raleway",sans-serif;
}
@media only screen and (max-width: 600px) {
	.flex-container > .card > img{
	transition: 0.5s ease;
	}
	.flex-container > .cards:hover{
		transition: 0.5s ease;
		transform: scale(1.1);
	}
	.cards{
		margin:8%;
	}
	.links{
		display:none;
	}
}
.navbar {
	position: sticky ;
	top: 0;
	z-index: 100;
	text-align: left;
	background-image: linear-gradient(#008aff, #eeece900);
}
.navbar-logo {
	margin-top: 10px;
	width: 75px;
}
@media only screen and (max-width: 600px) {
	.navbar-logo {
		width: 40px;
	}
}
/* 4. Main-page buttons */
.btn_ctnr{
    position: fixed;
    top: 25px;
    right: 100px;
    display: inline-flex;
    z-index: 110;
}

.btn{
    margin: 0 10px;
	font-size: 1.2em;
	transition: all 0.3s ease 0s;
}

.btn > a{
	padding: 3px 0;
    text-decoration:none;
    color: #f5f5fa;
}

.btn > a:hover{
    color: #b1b2f7;
}

@media screen and (max-width: 600px) {
    .btn {
        display: none;
    }
}
.slide-left-right {
	text-decoration: none;
	color: rgb(10, 10, 10);
	position: relative;
	/* prepare for sliding from right to left */
}

/* add a empty string after the elment with class .slide-right-left  */
.slide-left-right:after {
	content: '';
	display: block;
	height: 3px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
	-webkit-transition: width .5s ease, background-color .5s ease;
	-moz-transition: width .5s ease, background-color .5s ease;
	/* position the content to the right bottom corner of the parent element to make it slide from right to left on hover */
	position: absolute;
	right: 0;
	bottom: 0;
}

/* Change the width and background on hover, aka sliding out */
.slide-left-right:hover:after {
	width: 100%;
	background: rgb(17, 17, 17);
}


/* 3. Nav bar new */

/* 3. Nav bar new */

.open {
    z-index: 100;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

@media screen and (max-width: 750px) {
    .open {
		top: 15px;
		right: 15px;
		height: 30px;
        width: 30px;
        display: block;
    }
}

.open:hover {
    opacity: 0.8;
}

.open span {
    display: block;
    float: left;
    clear: both;
    height: 4px;
    width: 40px;
    border-radius: 40px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.open span:nth-child(1) { margin-top: 4px; }

.open span:nth-child(2) { margin-top: 18px; }

.open span:nth-child(3) { margin-top: 32px; }

@media screen and (max-width: 600px) {
    .open span {
		height: 3px;
		width: 30px;
		border-radius: 30px;
	}

	.open span:nth-child(1) { margin-top: 3px; }

	.open span:nth-child(2) { margin-top: 13.5px; }

	.open span:nth-child(3) { margin-top: 24px; }
}

.sub-menu {
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    height: 0;
    width: 0;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(38, 84, 133, 0.54);
    /* border-radius: 50%; */
    z-index: 90;
    overflow: hidden;
}

.sub-menu li {
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -160px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { 
    -webkit-transition-delay: 0.05s; 
    transition-delay: 0.05s; 
}

.sub-menu li:nth-child(2) { 
    -webkit-transition-delay: 0.10s; 
    transition-delay: 0.10s; 
}

.sub-menu li:nth-child(3) { 
    -webkit-transition-delay: 0.15s; 
    transition-delay: 0.15s; 
}

.sub-menu li:nth-child(4) { 
    -webkit-transition-delay: 0.20s; 
    transition-delay: 0.20s; 
}

.sub-menu li:nth-child(5) { 
    -webkit-transition-delay: 0.25s; 
    transition-delay: 0.25s; 
}

.sub-menu li a {
    color: #fff;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    display: block;
    float: left;
    line-height: 35px;
    text-decoration: none;
    text-transform: uppercase;
}

.oppenned .sub-menu {
    opacity: 1;
    height: 550px;
    width: 470px;
    border-radius: 5%;
    background-color: rgba(244, 52, 97, 0.54);
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
    z-index: 100;
    transform: rotate(45deg);
}

.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

@media screen and (max-width: 600px) {
	.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(9px) translateX(9px); }
}

.oppenned span:nth-child(2) {
    height: 730px;
    width: 450px;
    right: -160px;
    top: -160px;
    /* border-radius: 50%; */
    background-color:rgba(22, 8, 185, 0.54);
}

.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

@media screen and (max-width: 600px) {
	.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-7.5px) translateX(7.5px); }
}

.oppenned li { margin-right: 168px; }
