#preloader {
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    height: 100vh;
    background: #000000 no-repeat;
    background-image: url(../images/preloader.gif);
    background-position: center center;
    background-size: 40%;
    z-index: 99999;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
	background-color: black;
}

.parallax {
    position: relative;
    /* background-attachment: fixed; */
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
	overflow: hidden;
}

.caption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.caption .border {
    color: #ffffff;
	padding: 20px;
	width: 80%;
	text-align: center;
	font-family: 'Raleway', Verdana, 'Geneva', Tahoma, sans-serif;
	font-size: 20px;
	background-color: #ffffff;
}

@media screen and (max-width: 600px) {
	.caption .border {
		width: 90%;
		font-size: 15px;
	}
}

/* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
} */

#hero, #parallax-3 {
	position: relative;
}


.slide-left-right {
	text-decoration: none;
	color: black;
	position: relative;
	/* prepare for sliding from right to left */
}

/* add a empty string after the elment with class .slide-right-left  */
.slide-left-right:after {
	content: '';
	display: block;
	height: 3px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
	-webkit-transition: width .5s ease, background-color .5s ease;
	-moz-transition: width .5s ease, background-color .5s ease;
	/* position the content to the right bottom corner of the parent element to make it slide from right to left on hover */
	position: absolute;
	right: 0;
	bottom: 0;
}

/* Change the width and background on hover, aka sliding out */
/* .slide-left-right:hover:after {
	width: 100%;
	background: black;
} */

.color {
	color: red;
}

#contact-font {
	font-family: 'Times New Roman', Times, serif;
	color: black;
}

#info-font {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: red;
}

#hero > h2{
	position: absolute;
	left: 50%;
	bottom: 7.5%;
	width: 80%;
	transform: translateX(-50%);
	z-index: 100;
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	opacity: 0.8;
	text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
}

@media screen and (max-width: 600px) {
    #hero > h2 {
		bottom: 10%;
        font-size: 0.9em;
    }
}

#hero > h2 > #htxt{
	display: none;
}

#hero > h2:hover > #htxt{
	display: inline;
}

#hero > h2:hover > #nhtxt{
	display: none;
}
#parallax-2{
	background-image: linear-gradient( rgba(78,12,48,1) 0%, rgba(78,12,48,1) 27%, rgba(60,14,95,1) 55%, rgba(40,16,148,1) 82%, rgba(0,18,255,1) 100%);
}
#parallax-2 .caption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
}

#parallax-2 .border {
	color: rgba(255, 255, 255, 0.8);
	background-color: #ebc9da14;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 20px 5% 7.5% 5%;
}
#parallax-3{
	background-color: blue;
	background-image: linear-gradient(blue, greenyellow);
}
#parallax-3 .caption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
}

#parallax-3 .border {
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 0, 0.4);
}

#parallax-4{
	background-color: greenyellow;
	background-image: linear-gradient(greenyellow,blue);
}
#parallax-4 .border {
	color: rgba(10, 10, 10, 0.8);
}

.stats-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.stats-container .stats {
	margin: 15px 30px;
	width: 250px;
}

.stats-icon {
	font-size: 42px;
	margin-bottom: 5px;
}

.stats .counter {
	font-size: 24px;
}

@media screen and (max-width: 1179px) {
	.stats-container .stats {
		margin: 10px 30px;
	}

	.stats .about-left {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.stats-icon {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 791px) {
	.stats-container .stats {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.stats p {
		padding: 0 20px;
		flex: 1 1 0;
		font-size: 16px;
	}

	.stats .about-left {
		display: block;
	}

	.stats-icon {
		font-size: 28px;
	}

	.stats .counter {
		font-size: 18px;
	}
}

#parallax-5{
	background-color: blue;
	background-image: linear-gradient(blue, #02025b);
}

#parallax-5 .border {
	text-align: left;
}

#parallax-5 h2 {
	padding-left: 15%;
}

.quick-links-container {
	display: flex;
	flex-wrap: wrap;
	padding-left: 15%;
	align-items: center;
}

.quick-links-container > .cols {
	padding: 10px;
	margin: 10px;
	width: 250px;
}

.quick-links-container > .cols > div {
	margin: 10px 0;
}

.quick-links-container > .cols > div > a {
	padding: 3px;
	color: rgba(15, 15, 15, 0.7);
	transition: all 0.3s ease 0s;
}

.quick-links-container > .cols > div > a:hover {
	color: rgba(255, 255, 255, 1);
}
#parallax-6{
	background-color: greenyellow;
	background-image: linear-gradient(#02025b,black);
}
#parallax-6 .caption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
}

#parallax-6 .border {
	color: rgba(255, 255, 255, 0.8);
}

#countdown{
	width: 465px;
	height: 112px;
	text-align: center;
	background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	border-radius: 5px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	margin: auto;
	padding: 24px 0;
	position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

#countdown:before{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; left: -10px;
}

#countdown:after{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; right: -10px;
}

#countdown #tiles{
	position: relative;
	z-index: 1;
}

#countdown #tiles > span{
	width: 92px;
	max-width: 92px;
	font: bold 48px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee); 
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
	margin: 0 7px;
	padding: 18px 0;
	display: inline-block;
	position: relative;
}

#countdown #tiles > span:before{
	content:"";
	width: 100%;
	height: 13px;
	background: #111;
	display: block;
	padding: 0 3px;
	position: absolute;
	top: 41%; left: -3px;
	z-index: -1;
}

#countdown #tiles > span:after{
	content:"";
	width: 100%;
	height: 1px;
	background: #eee;
	border-top: 1px solid #333;
	display: block;
	position: absolute;
	top: 48%; left: 0;
}

#countdown .labels{
	width: 100%;
	height: 25px;
	text-align: center;
	position: absolute;
	bottom: 8px;
}

#countdown .labels li{
	width: 102px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	color: #f47321;
	text-shadow: 1px 1px 0px #000;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}
filter {
	color-interpolation-filters: sRGB
  }
  
#glass-text{
position: relative;
font-family: cursive;
font-weight: bold;
font-size: 8rem;
margin-top: 30vh;
text-align: center;
text-shadow: 0 0 .7px, 0 0 1.1px, 0 0 1.1px;
filter:url(#in-and-out)
}

#glass-text:before,
#glass-text:after {
position: absolute;
left: 0;
right: 0;
top: 0;
content: attr(data-text)
}

#glass-text:before {
color: #036;
text-shadow: -1px -1px 1px, 0 -1px 1px, 1px -1px 1px, 1px 0 1px, 1px 1px 1px, 0 1px 1px, -1px 1px 1px, -1px 0 1px
}

#glass-text:after {
color: rgba(40, 80, 120, .9);
filter:url(#lightA3)
}